@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/publicElectro/img/product03.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Laptop<br>Collection</h3>
                        <a href="/store/index?category=15" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/publicElectro/img/product05.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Headphone<br>Collection</h3>
                        <a href="/store/index?category=16" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/publicElectro/img/product07.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Phone<br>Collection</h3>
                        <a href="/store/index?category=13" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                    @*<div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Home</a></li>
                                @foreach (var item in Model.Categories)
                                {
                                    <li><a data-toggle="tab" id="@item.Id" href="tab1" name="categoryId">@item.Name</a></li>
                                }
                            </ul>
                        </div>*@
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                @foreach (var item in Model.Products)
                                {
                                    if (item.IsActive == true)
                                    {
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="~/productImages/@item.ImageUrl" alt="@item.Name">
                                                <div class="product-label">
                                                    @if (item.DiscountedPrice != null)
                                                    {
                                                        <span class="sale">-30%</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="new">NEW</span>
                                                    }

                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">@item.Category.Name</p>
                                                <h3 class="product-name"><a href="#">@item.Brand.Name @item.Name</a></h3>
                                                <h4 class="product-price">
                                                    $@item.Price
                                                    @if (item.DiscountedPrice != null)
                                                    {
                                                        <del class="product-old-price">@item.DiscountedPrice</del>
                                                    }

                                                </h4>
                                                @if (item.Rating != null)
                                                {
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                }

                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                    <a class="quick-view" asp-action="Product" asp-controller="ProductView" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@item.Id" >
                                                    <button class="add-to-cart-btn">
                                                        <i class="fa fa-shopping-cart"></i>add to cart
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                                <!-- /product -->

                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="/Store">Shop now</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Top selling</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">

                            @foreach (var item in Model.Categories)
                            {
                                <li>
                                    <a data-toggle="tab" id="categoryId" href="@item.Id">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                @foreach (var item in Model.Products)
                                {
                                    if (item.IsActive == true)
                                    {
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="~/productImages/@item.ImageUrl" alt="@item.Name">
                                                <div class="product-label">
                                                    @if (item.DiscountedPrice != null)
                                                    {
                                                        <span class="sale">-30%</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="new">NEW</span>
                                                    }

                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">@item.Category.Name</p>
                                                <h3 class="product-name"><a href="#">@item.Brand.Name @item.Name</a></h3>
                                                <h4 class="product-price">
                                                    $@item.Price
                                                    @if (item.DiscountedPrice != null)
                                                    {
                                                        <del class="product-old-price">@item.DiscountedPrice</del>
                                                    }

                                                </h4>
                                                @if (item.Rating != null)
                                                {
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                }

                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                    <a class="quick-view" asp-action="Product" asp-controller="ProductView" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                            </div>
                                        </div>
                                    }
                                }
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
@section Scripts{
    <script>
        $("#btnCat").click(function () {
            alert("btn cliked");
        });
    </script>
}