@model IEnumerable<eCommerceApp.Domains.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>List of Products</h1>
<a asp-action="Create">Create new Product</a>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-md-2" style="width: 18rem;">
            <img src="~/productImages/@item.ImageUrl" style="width:100%; height:auto" alt="@item.Name">
            <div class="card-body">
                <h5 class="card-title">@item.Brand.Name @item.Name </h5>
                <p class="card-text">@item.Category.Name </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price (@item.Price) | Discount Price (@item.DiscountedPrice)</li>
                @*<li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>*@
            </ul>
            <div class="card-body">
                <a asp-action="Details" asp-route-id="@item.Id" class="card-link ">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="card-link ">Edit</a>
                @*<a href="#" class="card-link">Another link</a>*@
            </div>
        </div>
    }
</div>

