@model ProductListViewModel
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                @await Component.InvokeAsync("CategoryStore")
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Price</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                @await Component.InvokeAsync("BrandStore")
                <!-- /aside Widget -->

            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">Popular</option>
                                <option value="1">Position</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">20</option>
                                <option value="1">50</option>
                            </select>
                        </label>
                    </div>

                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-md-4 col-xs-6">
                            @if (item.IsActive == true)
                            {
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/productImages/@item.ImageUrl" alt="@item.Name">
                                        <div class="product-label">
                                            @if (item.DiscountedPrice != null)
                                            {
                                                <span class="sale">-30%</span>
                                            }
                                            else
                                            {
                                                <span class="new">NEW</span>
                                            }

                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@item.Category.Name</p>
                                        <h3 class="product-name"><a href="#">@item.Brand.Name @item.Name</a></h3>
                                        <h4 class="product-price">
                                            $@item.Price
                                            @if (item.DiscountedPrice != null)
                                            {
                                                <del class="product-old-price">@item.DiscountedPrice</del>
                                            }

                                        </h4>
                                        @if (item.Rating != null)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        }

                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <a class="quick-view" asp-action="Product" asp-controller="ProductView" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@item.Id">
                                            <button class="add-to-cart-btn">
                                                <i class="fa fa-shopping-cart"></i>add to cart
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    <!-- /product -->

                </div>
                <!-- /store products -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->